.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.design {
  padding: 20px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.procedimientos {
  display: flex;
  padding: 16px 16px 0;
  justify-content: space-between;
}

.ng-tns-c772533186-16{
  background: #3f48cc !important;
}
