<div class="parent">
  <div class="div1 design parent-infoPaciente">
    <mat-card class="example-card div1-info">
      <mat-card-header>
        <mat-card-subtitle>{{paciente.estadoAtencion.nombreEstadoAtencion}}</mat-card-subtitle>
        <mat-card-subtitle>Es creado por: </mat-card-subtitle>
        <mat-card-title>{{paciente.nombresPaciente}} {{paciente.apellidosPaciente}} -
          {{paciente.dniPaciente}}</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p>
          <b>Direccion: </b>
          <span *ngIf="paciente.direccionPaciente == null; else DireccionNoEsNulo">-</span>
          <ng-template #DireccionNoEsNulo>
            {{paciente.direccionPaciente}}
          </ng-template>
        </p>
        <p>
          <b>Email: </b>
          <span *ngIf="paciente.emailPaciente == null; else emailNoEsNulo">-</span>
          <ng-template #emailNoEsNulo>
            {{paciente.emailPaciente}}
          </ng-template>
        </p>
        <p>
          <b>Telefono: </b>
          <span *ngIf="paciente.telefonoPaciente== null; else telefonoNoEsNuLo">-</span>
          <ng-template #telefonoNoEsNuLo>
            {{paciente.telefonoPaciente}}
          </ng-template>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card class="example-card div2-procedimientos">
      <mat-card-header class="procedimientos">
        <mat-card-title>
          Procedimientos
          <button mat-stroked-button *ngIf="cantTerminados > 0" [color]="color"
            (click)="cambiarContenidoBoton()">{{mostrarContenido}} ({{cantTerminados}})</button>
        </mat-card-title>
        <button mat-mini-fab color="accent" (click)="openDialogProcedimiento()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content style="height: 80%;">
        <mat-list style="height: 100%;">
          <div class="scroll-container-procedimientos">
            <mat-list>
              <mat-list-item style="height: auto; padding: 10px 0;" *ngFor="let procedimiento of procedimientos">
                <span matListItemTitle>
                  <div style="display: flex; justify-content: space-between;">
                    <div style="display: flex;">
                      <mat-checkbox class="example-margin" [checked]="procedimiento.es_terminado"
                        (change)="procedimientoTerminado(procedimiento)">
                      </mat-checkbox>
                      <div>
                        <a style="text-decoration: none; color: #000; cursor: pointer;"
                          (click)="openDialogProcedimiento(procedimiento)">{{
                          procedimiento.procedimiento }}</a>
                        <span matListItemLine>Creador: {{procedimiento.usuario_creador}}</span>
                        <span matListItemLine>{{procedimiento.fechaHoraInicio | date:'dd-MM-yyyy HH:mm' }} <-.->
                            {{procedimiento.fechaHoraFin | date:'dd-MM-yyyy HH:mm'}}</span>
                      </div>
                    </div>
                    <button mat-button color="primary" (click)="eliminarProcedimiento(procedimiento)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </span>



              </mat-list-item>
            </mat-list>
          </div>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="div2 design">
    <mat-card class="example-card" style="height: 100%;">
      <mat-card-header style="justify-content: space-between;">
        <mat-card-title>Comentarios</mat-card-title>
        <button mat-raised-button color="accent" (click)="openDialogComentario()">
          <span>¿Comentar?</span>
        </button>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content style="height: 90%;">

        <mat-list style="height: 100%;">
          <div class="scroll-container-comentarios">

            <div class="comment-list" #commentContainer (scroll)="onScroll($event)">
              <div *ngFor="let comment of comentarios; let i = index"
                [style.transform]="'translateY(' + (i * 80) + 'px)'">
                <div class="comment">
                  <span matListItemTitle style="display: flex; justify-content: space-between; font-size: 12px;">
                    <span><b>{{comment.usuario.usuario.toUpperCase() }}</b> ha comentado:</span>
                    <span>{{ comment.fechaHoraComentario | date:'dd-MM-yyyy HH:mm' }}

                      <button mat-button [matMenuTriggerFor]="beforeMenu" style="height: 0;">
                        <mat-icon color="primary">settings</mat-icon>
                      </button>
                      <mat-menu #beforeMenu="matMenu" xPosition="before">
                        <button mat-menu-item (click)="openDialogComentario(comment)">Editar</button>
                        <button mat-menu-item (click)="eliminarComentario(comment)">Eliminar</button>
                      </mat-menu>

                    </span>
                  </span>
                  <span matListItemLine style="font-size: 18px;">{{ comment.comentario }}</span>
                </div>
              </div>
            </div>



            <!-- <mat-list-item style="height: auto; padding: 10px 0;" *ngFor="let coment of comentarios">
              <div class="text-content">
                {{ coment.comentario }}
              </div>
            </mat-list-item> -->
          </div>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card-content>
      <mat-card-footer class="footerComentario">

      </mat-card-footer>
    </mat-card>
  </div>
</div>
