<div style="margin: 20px;">
  <h1>{{tipo}}</h1>
  <mat-divider></mat-divider>

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Nombre del Paciente</mat-label>
      <input matInput placeholder="Nombre del Paciente" minlength="3" required [(ngModel)]="paciente.nombresPaciente">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Apellidos del Paciente</mat-label>
      <input matInput placeholder="Apellidos del Paciente" minlength="3" required
        [(ngModel)]="paciente.apellidosPaciente">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo de Documento del Paciente</mat-label>
      <mat-select [(ngModel)]="tipoSeleccionado" [(value)]="tipoSeleccionado">
        <mat-option *ngFor="let tipDocument of tiposDocumento" [value]="tipDocument">{{ tipDocument }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="tipoSeleccionado === 'DNI'">
      <mat-form-field class="example-full-width">
        <mat-label>DNI</mat-label>
        <input type="number" matInput placeholder="DNI" minlength="8" maxlength="8" required
          [(ngModel)]="paciente.dniPaciente">
      </mat-form-field>
    </div>

    <div *ngIf="tipoSeleccionado === 'Carnet de Extranjeria'">
      <mat-form-field class="example-full-width">
        <mat-label>Carnet de Extranjeria</mat-label>
        <input type="number" matInput placeholder="Carnet de Extranjeria" minlength="9" maxlength="9" required
          [(ngModel)]="paciente.carneExtranjeria">
      </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
      <mat-label>Direccion del Paciente</mat-label>
      <input matInput placeholder="Direccion del Paciente" minlength="3" [(ngModel)]="paciente.direccionPaciente">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email del Paciente</mat-label>
      <input type="email" matInput placeholder="Email del Paciente" minlength="3" [(ngModel)]="paciente.emailPaciente">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Telefono del Paciente</mat-label>
      <input type="number" matInput placeholder="Telefono del Paciente" minlength="3"
        [(ngModel)]="paciente.telefonoPaciente">
    </mat-form-field>

    <section class="example-section">
      <mat-checkbox class="example-margin" [labelPosition]="'before'" [(ngModel)]="esActivo">Es Activo</mat-checkbox>
    </section>

    <mat-form-field class="example-full-width">
      <mat-label>Seleccione un Estado</mat-label>
      <mat-select [(ngModel)]="idEstadoAtencionSeleccionado">
        <mat-option *ngFor="let ea of (estadoAtencion$ | async)"
          [value]="ea.estado_atencion_id">{{ea.nombreEstadoAtencion
          }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" (click)="operar()">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" (click)="cerrar()">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>

</div>
