<router-outlet></router-outlet>

<mat-card>
  <mat-card-content style="font-size: 30px; background-color: #333854; color: white;">Mantenimiento de
    Pacientes</mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<div style="margin: 30px;">
  <div class="example-header">
    <mat-form-field style="display:block">
      <mat-label>Buscar Paciente</mat-label>
      <input matInput (keyup)="filtrar($event)" placeholder="Buscar Paciente">
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="paciente_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.paciente_id}} </td>
    </ng-container>

    <ng-container matColumnDef="nombresPaciente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
      <td mat-cell *matCellDef="let element"> {{element.nombresPaciente}} </td>
    </ng-container>

    <ng-container matColumnDef="apellidosPaciente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
      <td mat-cell *matCellDef="let element"> {{element.apellidosPaciente}} </td>
    </ng-container>

    <ng-container matColumnDef="dniPaciente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
      <td mat-cell *matCellDef="let element"> {{element.dniPaciente}} </td>
    </ng-container>

    <ng-container matColumnDef="direccionPaciente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.direccionPaciente == null; else direccionNoEsNulo">-</div>
        <ng-template #direccionNoEsNulo>
          {{element.direccionPaciente}}
        </ng-template>
      </td>

    </ng-container>

    <ng-container matColumnDef="emailPaciente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.emailPaciente == null; else emailNoEsNulo">-</div>
        <ng-template #emailNoEsNulo>
          {{element.emailPaciente}}
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="telefonoPaciente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.telefonoPaciente == null; else telefonoNoEsNulo">-</div>
        <ng-template #telefonoNoEsNulo>
          {{element.telefonoPaciente}}
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="esActivo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Es Activo </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.esActivo, else noEsActivo">SI</div>
        <ng-template #noEsActivo>
          <div>No</div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="esFavorito">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Es Favorito </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.esFavorito; else noEsFavorito">SI</div>
        <ng-template #noEsFavorito>
          <div>No</div>
        </ng-template>
    </ng-container>

    <ng-container matColumnDef="estadoAtencion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.estadoAtencion.nombreEstadoAtencion}} </td>
    </ng-container>


    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="openDialog(element)">
          <mat-icon>ballot</mat-icon>
        </button>
        <button mat-button color="primary" (click)="eliminar(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  <button mat-fab color="accent" style="float: right" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>

</div>
