<div style="margin: 20px;">
  <h1>{{tipo}}</h1>
  <mat-divider></mat-divider>

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Procedimiento</mat-label>
      <textarea matInput placeholder="Procedimiento" minlength="3" required [(ngModel)]="procedimiento.procedimiento"
        (ngModelChange)="validarInput()"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha Inicio</mat-label>
      <input matInput [ngxMatDatetimePicker]="picker" placeholder="Fecha de Inicio" [formControl]="dateControl">
      <!-- [min]="minDate" [max]="maxDate" [disabled]="disabled" -->
      <mat-datepicker-toggle matSuffix [for]="$any(picker)">
      </mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [touchUi]="false"
        [enableMeridian]="true">
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" [disabled]="verificar" (click)="operar()">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" (click)="cerrar()">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>

</div>
