<mat-card>
  <mat-card-content
    style="font-size: 30px; background-color: #333854; color: white; display: flex; justify-content: space-between;">
    <h1 style="margin: 0;">Inicio</h1>
    <button mat-raised-button color="warn" (click)="mostrarTrabajo()">
      <mat-icon>{{ iconBoton }}</mat-icon>
      <span>{{ textoBoton }}</span>
    </button>
  </mat-card-content>
</mat-card>
<div style="margin: 30px;">
  <div class="parent">
    <div class="div1">
      <mat-card>
        <mat-card-content style="font-size: 30px; padding: 15px;"><b>Favoritos</b></mat-card-content>
        <mat-divider></mat-divider>
        <mat-nav-list>
          <div style="padding-left: 15px;" *ngIf="!isVacioPacientesFavoritos, else Favoritos">Aun no tiene Pacientes
            marcados como Favorito</div>
          <ng-template #Favoritos>
            <a mat-list-item *ngFor="let p of (pacientesFavoritos | async)"
              (click)="redireccionarConParametros(p.paciente_id)">{{
              p.nombresPaciente }} {{ p.apellidosPaciente }} - {{ p.dniPaciente }}</a>
          </ng-template>
        </mat-nav-list>
      </mat-card>
    </div>
    <div class="div2">
      <mat-card>
        <mat-card-content style="font-size: 30px; padding: 15px;"><b>Pacientes por Estado
            Atencion</b></mat-card-content>
        <mat-divider></mat-divider>
        <div style="display: flex; justify-content: center;">
          <div style="padding: 9px 0;" *ngIf="esconderGrafico, else pacientesEstado">Aun no tiene Pacientes registrados
          </div>
          <ng-template #pacientesEstado>
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
              [responsive]="chartOptions.responsive"></apx-chart>
          </ng-template>
        </div>
      </mat-card>
    </div>
  </div>

  <mat-divider></mat-divider>
  <router-outlet></router-outlet>
  <button style="position: fixed; right: 10px; bottom: 10px; z-index: 1;" mat-fab extended color="accent"
    (click)="registrarPacienteDialog()">
    <mat-icon>accessibility</mat-icon>
    Registrar Paciente
  </button>
</div>
