<router-outlet></router-outlet>

<mat-card>
  <mat-card-content style="font-size: 30px; background-color: #333854; color: white;">Notificaciones</mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<div style="margin: 30px 0; display: flex; justify-content: center;">
  <div style="width: 80%;">
    <mat-list class="mat-list">
      <mat-list-item class="mat-list-item" *ngFor="let notificacion of notificaciones">
        <span matListItemTitle>
          <div style="display: flex; justify-content: space-around;   ">
            <div style="display: flex;">
              <div>
                <p style="font-size: 12px;">{{formatDateService.formatDate(notificacion.fechaHoraNotificacion)}}</p>
                <p style="font-size: 12px;">{{notificacion.causa}}</p>
                <b><a style="text-decoration: none; color: #000; cursor: pointer;"
                  (click)="openDialogProcedimiento(notificacion.procedimiento)">
                  {{notificacion.procedimiento.procedimiento}}
                </a>
                </b>
                <span matListItemLine>Emisor: {{notificacion.usuarioOrigen.usuario}}</span>
                <span matListItemLine>Paciente: {{notificacion.procedimiento.paciente.nombresPaciente}}</span>
              </div>
            </div>
            <button mat-fab matTooltip="Primary" color="primary" (click)="marcarNotificacionVisto(notificacion)">
              <mat-icon>visibility</mat-icon>
            </button>
          </div>
        </span>
        <mat-divider></mat-divider>
      </mat-list-item>
      <span>No hay más notificaciones</span>
    </mat-list>
  </div>


</div>
