<mat-card style="margin-top: 15px;">
  <mat-card-content style="font-size: 30px; padding: 15px;"><b>Calendario de Procedimientos</b></mat-card-content>
  <mat-divider></mat-divider>
  <div *ngIf="esconderGrafico" style="display: flex; justify-content: center; margin: 15px 0;">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
      [responsive]="chartOptions.responsive"></apx-chart>
  </div>
  <mat-divider></mat-divider>
  <mat-card>
    <full-calendar *ngIf="calendarOptions" #fullcalendar [options]="calendarOptions">
      <ng-template #eventContent let-arg >
        {{ arg.event.start.getHours() }}:{{ arg.event.start.getMinutes() }} => <b>{{ arg.event.title }}</b>
      </ng-template>
    </full-calendar>
  </mat-card>
</mat-card>
