<mat-card>
  <mat-card-content style="font-size: 30px; background-color: #333854; color: white;">Mantenimiento de
    Asistencias</mat-card-content>
</mat-card>

<mat-divider></mat-divider>
<div style="margin: 30px;">

  <h4>Seleccione el Usuario para visualizar su asistencia</h4>
  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <mat-select [(ngModel)]="usuario_id" name="usuario">
      <mat-option *ngFor="let usuario of usuarios" [value]="usuario.usuario_id">
        {{usuario.usuario}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" [routerLink]="['usuario',usuario_id]">
    <mat-icon>visibility</mat-icon>
    <span>Ver Asistencia</span>
  </button>

  <router-outlet></router-outlet>
</div>
