<div style="margin: 20px;">
  <h1>{{tipo}}</h1>
  <mat-divider></mat-divider>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Usuario" minlength="3" required [(ngModel)]="usuario.usuario"
        (ngModelChange)="validarInput()">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" minlength="3" required [(ngModel)]="usuario.password"
        (ngModelChange)="validarInput()">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre del Usuario" minlength="3" required [(ngModel)]="usuario.nombresUsuario"
        (ngModelChange)="validarInput()">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Apellidos</mat-label>
      <input matInput placeholder="Apellidos del Usuario" minlength="3" required [(ngModel)]="usuario.apellidosUsuario"
        (ngModelChange)="validarInput()">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>DNI</mat-label>
      <input type="number" matInput placeholder="DNI del Usuario" minlength="3" required
        [(ngModel)]="usuario.dniUsuario" (ngModelChange)="validarInput()">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Email del Usuario" minlength="3" [(ngModel)]="usuario.emailUsuario"
        (ngModelChange)="validarInput()">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Telefono</mat-label>
      <input type="number" matInput placeholder="Telefono del Usuario" minlength="3"
        [(ngModel)]="usuario.telefonoUsuario" (ngModelChange)="validarInput()">
    </mat-form-field>

    <section class="example-section">
      <mat-checkbox class="example-margin" [labelPosition]="'before'" [(ngModel)]="esActivo" (change)="validarInput()">Es Activo</mat-checkbox>
    </section>

  </div>

  <button mat-raised-button color="primary" [disabled]="verificar" (click)="operar()">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" (click)="cerrar()">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</div>
