<div>
  <mat-form-field>
    <input matInput placeholder="Nombre del Rol" minlength="3" required [(ngModel)]="rol.nombreRol">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Descripcion del Rol" minlength="3" required
      [(ngModel)]="rol.descripcionRol">
  </mat-form-field>
</div>

<button mat-raised-button color="primary" (click)="operar()">
  <mat-icon>done</mat-icon>
  <span>Aceptar</span>
</button>
<button mat-raised-button color="accent" (click)="cerrar()">
  <mat-icon>close</mat-icon>
  <span>Cancelar</span>
</button>
